body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr  4fr;
    grid-template-rows:     80px
                            150px;
    grid-template-areas:    'profileBar     homebutton'
                            'profileBar     searchBar'
                            'profileBar     BurgerGrid' ;
    gap: 10px;
    
}

.homebuttoncontainer{
    grid-area: homebutton;
    text-align: end;
    margin: 10px;
}
.homebutton{
    margin: 3px;
    width: 50px;
    border: solid beige;
    cursor: pointer;
    border-radius: 20%;
}

.searchBar{
    border: solid   beige;
    height: 30px;
    padding: 3px;
}

.profileBar{
    grid-area: profileBar;
    border-right: solid   beige;
    padding: 10px;
    height: 100vh;
    width: 250px;
    grid-template-areas:    'barProfilepic'
                            'barRatings'
                            'barActivity';
    grid-template-rows:     1fr
                            1fr
                            1fr
                            1fr;
    background-color: rgb(31, 31, 31)
}
.barElementHeader{
    border-bottom: solid beige;
}
.user{
    display: grid;
    grid-template-columns:  auto    auto;
}
.barProfilepic{
    grid-area: barProfilepic;
    height: 120px;
    border: solid 1px beige;
    border-radius: 45%;
}

.barRatings{
    grid-area: barRatings;
    

}
.barActivity{
    grid-area: barActivity;
   
}

.burgerGrid{
    grid-area: BurgerGrid;
    display: grid;
    grid-template-columns:  auto    auto;
    gap: 10px;
}
.burgercontainer{
    border: solid   beige;
    border-radius: 10%;
    padding: 20px;
    margin: 10px;
    height: 250px;
    width: 500px;
    display: grid;
    grid-template-areas:    'mainburgertitle   mainburgertitle'
                            'mainBurgerimg     averageRating'
                            'mainBurgerimg     mainPrice'
                            'mainBurgerimg     infobutton';
                            user-select: none;
}
.mainburgertitle{
    grid-area: mainburgertitle;
    font-size:x-large;
}
.mainBurgerimg{
    height: 200px;
    border-radius: 5%;
    border: solid black;
    grid-area: mainBurgerimg;
    
}
.averageRating{
    color: yellow;
    grid-area: averageRating;
}
.mainPrice{
    grid-area: mainPrice;
}
.infobutton{
    background-color: red;
    width: 80px;
    height: 30px;
    text-align: center;
    grid-area: infobutton;
    cursor: pointer;
    border-radius: 15%;
}
.infobutton:hover{
    background-color: rgb(255, 90, 90);
    font-weight: bold;
}



.burgerProfileContainer{
    display: grid;
}
.burgerProfileHeader{
    font-size: xx-large;
}
.burgerProfileImage{
    border-radius: 15%;
    height: 500px;
}